<h1>New game</h1>
<ul>
<% @letters.each do |letter| %>
<li><%= letter %></li>
<% end %>
</ul>
</p>

<div class="submit_word">
  <h3>What is the longest word you can find?</h3>
  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word">
    <input type="submit" value="play">
    <input id="token" name="token" type="hidden" value="letters" />
  </form>
</div>
